<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>lista de emails</title>
    </head>
    <body>
        <h1>Emails Cadastrados</h1>
        <ul>
            <% emails.forEach(email => { %>
            <li>
                <%= email.email %>
                <form
                    action="/deleteEmail"
                    method="POST"
                    style="display: inline"
                >
                    <input
                        type="hidden"
                        name="email"
                        value="<%= email.email %>"
                    />
                    <button type="submit">Excluir</button>
                </form>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
