<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sucesso</title>
    </head>
    <body>
        <h1>Sucesso ao cadastrar email</h1>
        <p>Email <%= email.email %> cadastrado com sucesso!</p>
    </body>
</html>
